* {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    font-family: 'Signika', cursive;

}

body {
    width: 80%;
    margin: auto;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#player {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #500000;
    float: top;
    margin-top: 40px;
    margin-left: 20px;
}

#player tr td {
    width: 50px;
    height: 50px;
}

#player tr:nth-child(n) td:nth-child(n) {
    background: #b50000;
    border: 2px solid #d3d3d3;
}

#player tr:nth-child(n):hover td:nth-child(n):hover {
    background: #860000;

}

#opponent {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #500000;
    margin-top: -430px;
    margin-left: 600px;
    position: absolute;
}

#opponent tr td {
    width: 35px;
    height: 35px;
}

#opponent tr:nth-child(n) td:nth-child(n) {
    background: #b50000;
    border: 2px solid #d3d3d3;
}

footer {

    /* margin-top: 100%; */
    font-family: 'Signika', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
