* {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    font-family: 'Signika', 'Times New Roman', Times, serif;

}

body {
    width: 80%;
    margin: auto;
    
}

#titel {
    font-family: 'Signika', cursive;
     font-size: 3.5em;
     color: #b50000;
     margin-top: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.player {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #500000;
    float: top;
    margin-top: 60px;
    margin-left: 20px;
}

.player tr td {
    width: 50px;
    height: 50px;
}

.player tr:nth-child(n) td:nth-child(n) {
    background: #b50000;
    border: 2px solid #d3d3d3;
}

.player tr:nth-child(n):hover td:nth-child(n):hover {
    background: #860000;

}

.opponent {
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #500000;
    margin-top: -435px;
    margin-left: 600px;
    position: absolute;
}

.opponent tr td {
    width: 35px;
    height: 35px;
}

.opponent tr:nth-child(n) td:nth-child(n) {
    background: #b50000;
    border: 2px solid #d3d3d3;
}

.whosShipsAreThese {
    font-size: 1.7em;
    color: #860000;
    
}

#opponentShipsText {
    float: left;
    position: absolute;
    margin-top:7px;
    margin-left: 20px;
}

#playerShipsText {
    float: top;
    position: absolute;
    margin-left: 600px;
    margin-bottom: 20px;
}

footer {

    /* margin-top: 100%; */
    font-family: 'Signika', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.timer {
    border: 3px solid #b50000;
    /* float: right; */
    position: absolute;
    bottom: 86%;
    right: 10%;
    width: 100px;
    height: 45px;
    padding: 10px;

}

#timeindicator {
    background-color:none;
    /* margin-left: 7%; */
    color: #500000;
    padding: 5px;
    /* font-size: 1.3em; */
}

.time {
color: #b50000;
font-size: 1.3em;
margin-left: 25%;
margin-top: 5%;

}

.clicked {
    background-color: #d3d3d3;
    /* width: 30px; */
}

.clicked tr td:hover {
    background-color: aquamarine;
}
